@page
@model SimpleWebApp.Pages.DataModel
@{
    ViewData["Title"] = "PVC Data";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <button type="submit" asp-page-handler="CheckFolder">Check Folder</button>
</form>
<form method="post">
    <button type="submit" asp-page-handler="CreateTextFile">Create A Text File</button>
</form>

@if (Model.CheckResult != null)
{
    <p>@Model.CheckResult</p>
}


